<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>54003-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,188}</string>
                <key>spriteSourceSize</key>
                <string>{68,188}</string>
                <key>textureRect</key>
                <string>{{68,1414},{68,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54003-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,188}</string>
                <key>spriteSourceSize</key>
                <string>{69,188}</string>
                <key>textureRect</key>
                <string>{{271,1414},{69,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54003-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,188}</string>
                <key>spriteSourceSize</key>
                <string>{68,188}</string>
                <key>textureRect</key>
                <string>{{0,1414},{68,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54003-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,188}</string>
                <key>spriteSourceSize</key>
                <string>{67,188}</string>
                <key>textureRect</key>
                <string>{{136,1414},{67,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54004-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,145}</string>
                <key>spriteSourceSize</key>
                <string>{129,145}</string>
                <key>textureRect</key>
                <string>{{420,760},{129,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54004-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,143}</string>
                <key>spriteSourceSize</key>
                <string>{132,143}</string>
                <key>textureRect</key>
                <string>{{429,615},{132,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54004-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,141}</string>
                <key>spriteSourceSize</key>
                <string>{133,141}</string>
                <key>textureRect</key>
                <string>{{624,474},{133,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54004-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,143}</string>
                <key>spriteSourceSize</key>
                <string>{132,143}</string>
                <key>textureRect</key>
                <string>{{297,615},{132,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54005-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,136}</string>
                <key>spriteSourceSize</key>
                <string>{187,136}</string>
                <key>textureRect</key>
                <string>{{0,336},{187,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54005-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,145}</string>
                <key>spriteSourceSize</key>
                <string>{169,145}</string>
                <key>textureRect</key>
                <string>{{549,760},{169,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54005-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,142}</string>
                <key>spriteSourceSize</key>
                <string>{167,142}</string>
                <key>textureRect</key>
                <string>{{130,615},{167,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54005-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,141}</string>
                <key>spriteSourceSize</key>
                <string>{176,141}</string>
                <key>textureRect</key>
                <string>{{757,474},{176,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54005-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,131}</string>
                <key>spriteSourceSize</key>
                <string>{187,131}</string>
                <key>textureRect</key>
                <string>{{337,200},{187,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54005-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,147}</string>
                <key>spriteSourceSize</key>
                <string>{165,147}</string>
                <key>textureRect</key>
                <string>{{125,906},{165,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54005-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,138}</string>
                <key>spriteSourceSize</key>
                <string>{153,138}</string>
                <key>textureRect</key>
                <string>{{748,336},{153,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54005-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,140}</string>
                <key>spriteSourceSize</key>
                <string>{172,140}</string>
                <key>textureRect</key>
                <string>{{0,474},{172,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54006-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,118}</string>
                <key>spriteSourceSize</key>
                <string>{201,118}</string>
                <key>textureRect</key>
                <string>{{0,200},{201,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54007-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,145}</string>
                <key>spriteSourceSize</key>
                <string>{129,145}</string>
                <key>textureRect</key>
                <string>{{291,760},{129,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54007-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,127}</string>
                <key>spriteSourceSize</key>
                <string>{136,127}</string>
                <key>textureRect</key>
                <string>{{201,200},{136,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54007-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,113}</string>
                <key>spriteSourceSize</key>
                <string>{166,113}</string>
                <key>textureRect</key>
                <string>{{424,83},{166,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54007-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,105}</string>
                <key>spriteSourceSize</key>
                <string>{213,105}</string>
                <key>textureRect</key>
                <string>{{0,83},{213,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54007-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,83}</string>
                <key>spriteSourceSize</key>
                <string>{192,83}</string>
                <key>textureRect</key>
                <string>{{670,0},{192,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54007-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,62}</string>
                <key>spriteSourceSize</key>
                <string>{212,62}</string>
                <key>textureRect</key>
                <string>{{458,0},{212,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54007-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,59}</string>
                <key>spriteSourceSize</key>
                <string>{230,59}</string>
                <key>textureRect</key>
                <string>{{228,0},{230,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54008-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,55}</string>
                <key>spriteSourceSize</key>
                <string>{228,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{228,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,188}</string>
                <key>spriteSourceSize</key>
                <string>{68,188}</string>
                <key>textureRect</key>
                <string>{{203,1414},{68,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,172}</string>
                <key>spriteSourceSize</key>
                <string>{81,172}</string>
                <key>textureRect</key>
                <string>{{294,1226},{81,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,172}</string>
                <key>spriteSourceSize</key>
                <string>{185,172}</string>
                <key>textureRect</key>
                <string>{{375,1226},{185,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,166}</string>
                <key>spriteSourceSize</key>
                <string>{95,166}</string>
                <key>textureRect</key>
                <string>{{666,1056},{95,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,170}</string>
                <key>spriteSourceSize</key>
                <string>{145,170}</string>
                <key>textureRect</key>
                <string>{{761,1056},{145,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,171}</string>
                <key>spriteSourceSize</key>
                <string>{155,171}</string>
                <key>textureRect</key>
                <string>{{139,1226},{155,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,179}</string>
                <key>spriteSourceSize</key>
                <string>{62,179}</string>
                <key>textureRect</key>
                <string>{{845,1226},{62,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,201}</string>
                <key>spriteSourceSize</key>
                <string>{58,201}</string>
                <key>textureRect</key>
                <string>{{340,1414},{58,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,204}</string>
                <key>spriteSourceSize</key>
                <string>{64,204}</string>
                <key>textureRect</key>
                <string>{{398,1414},{64,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,188}</string>
                <key>spriteSourceSize</key>
                <string>{71,188}</string>
                <key>textureRect</key>
                <string>{{907,1226},{71,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,150}</string>
                <key>spriteSourceSize</key>
                <string>{119,150}</string>
                <key>textureRect</key>
                <string>{{858,906},{119,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,148}</string>
                <key>spriteSourceSize</key>
                <string>{178,148}</string>
                <key>textureRect</key>
                <string>{{680,906},{178,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,147}</string>
                <key>spriteSourceSize</key>
                <string>{198,147}</string>
                <key>textureRect</key>
                <string>{{482,906},{198,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,147}</string>
                <key>spriteSourceSize</key>
                <string>{192,147}</string>
                <key>textureRect</key>
                <string>{{290,906},{192,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,146}</string>
                <key>spriteSourceSize</key>
                <string>{125,146}</string>
                <key>textureRect</key>
                <string>{{0,906},{125,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,159}</string>
                <key>spriteSourceSize</key>
                <string>{131,159}</string>
                <key>textureRect</key>
                <string>{{278,1056},{131,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,222}</string>
                <key>spriteSourceSize</key>
                <string>{137,222}</string>
                <key>textureRect</key>
                <string>{{730,1414},{137,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54009-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,171}</string>
                <key>spriteSourceSize</key>
                <string>{139,171}</string>
                <key>textureRect</key>
                <string>{{0,1226},{139,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54010-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,145}</string>
                <key>spriteSourceSize</key>
                <string>{129,145}</string>
                <key>textureRect</key>
                <string>{{713,615},{129,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54011-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,142}</string>
                <key>spriteSourceSize</key>
                <string>{130,142}</string>
                <key>textureRect</key>
                <string>{{0,615},{130,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54012-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,141}</string>
                <key>spriteSourceSize</key>
                <string>{133,141}</string>
                <key>textureRect</key>
                <string>{{358,474},{133,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54012-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,150}</string>
                <key>spriteSourceSize</key>
                <string>{152,150}</string>
                <key>textureRect</key>
                <string>{{0,1056},{152,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54012-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,159}</string>
                <key>spriteSourceSize</key>
                <string>{126,159}</string>
                <key>textureRect</key>
                <string>{{152,1056},{126,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54012-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,174}</string>
                <key>spriteSourceSize</key>
                <string>{106,174}</string>
                <key>textureRect</key>
                <string>{{739,1226},{106,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54012-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,206}</string>
                <key>spriteSourceSize</key>
                <string>{166,206}</string>
                <key>textureRect</key>
                <string>{{462,1414},{166,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54012-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,172}</string>
                <key>spriteSourceSize</key>
                <string>{179,172}</string>
                <key>textureRect</key>
                <string>{{560,1226},{179,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54012-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,136}</string>
                <key>spriteSourceSize</key>
                <string>{180,136}</string>
                <key>textureRect</key>
                <string>{{384,336},{180,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54012-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,117}</string>
                <key>spriteSourceSize</key>
                <string>{194,117}</string>
                <key>textureRect</key>
                <string>{{787,83},{194,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54012-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,117}</string>
                <key>spriteSourceSize</key>
                <string>{197,117}</string>
                <key>textureRect</key>
                <string>{{590,83},{197,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54012-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,109}</string>
                <key>spriteSourceSize</key>
                <string>{211,109}</string>
                <key>textureRect</key>
                <string>{{213,83},{211,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54013-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,141}</string>
                <key>spriteSourceSize</key>
                <string>{133,141}</string>
                <key>textureRect</key>
                <string>{{491,474},{133,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54013-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{152,144}</string>
                <key>textureRect</key>
                <string>{{561,615},{152,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54013-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,145}</string>
                <key>spriteSourceSize</key>
                <string>{162,145}</string>
                <key>textureRect</key>
                <string>{{0,760},{162,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54013-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,140}</string>
                <key>spriteSourceSize</key>
                <string>{186,140}</string>
                <key>textureRect</key>
                <string>{{172,474},{186,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54013-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,213}</string>
                <key>spriteSourceSize</key>
                <string>{102,213}</string>
                <key>textureRect</key>
                <string>{{628,1414},{102,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54013-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,160}</string>
                <key>spriteSourceSize</key>
                <string>{154,160}</string>
                <key>textureRect</key>
                <string>{{409,1056},{154,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54013-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,137}</string>
                <key>spriteSourceSize</key>
                <string>{184,137}</string>
                <key>textureRect</key>
                <string>{{564,336},{184,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54013-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,136}</string>
                <key>spriteSourceSize</key>
                <string>{212,136}</string>
                <key>textureRect</key>
                <string>{{733,200},{212,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54013-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,135}</string>
                <key>spriteSourceSize</key>
                <string>{209,135}</string>
                <key>textureRect</key>
                <string>{{524,200},{209,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54013-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,136}</string>
                <key>spriteSourceSize</key>
                <string>{197,136}</string>
                <key>textureRect</key>
                <string>{{187,336},{197,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54014-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,162}</string>
                <key>spriteSourceSize</key>
                <string>{103,162}</string>
                <key>textureRect</key>
                <string>{{563,1056},{103,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54015-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,146}</string>
                <key>spriteSourceSize</key>
                <string>{161,146}</string>
                <key>textureRect</key>
                <string>{{718,760},{161,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>54015-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,145}</string>
                <key>spriteSourceSize</key>
                <string>{129,145}</string>
                <key>textureRect</key>
                <string>{{162,760},{129,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GY.png</string>
            <key>size</key>
            <string>{981,1636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41927a959611fc4cbc53f1f504723d11:44771bc08f1032e408a9bf057c345b95:4a3242c1d13bbc5c7bba3c608f6e464f$</string>
            <key>textureFileName</key>
            <string>GY.png</string>
        </dict>
    </dict>
</plist>
