<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>53384-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{389,354},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53384-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,148}</string>
                <key>spriteSourceSize</key>
                <string>{194,148}</string>
                <key>textureRect</key>
                <string>{{704,206},{194,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53384-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,148}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{0,354},{195,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53384-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,148}</string>
                <key>spriteSourceSize</key>
                <string>{195,148}</string>
                <key>textureRect</key>
                <string>{{509,206},{195,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53385-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,194}</string>
                <key>spriteSourceSize</key>
                <string>{198,194}</string>
                <key>textureRect</key>
                <string>{{409,537},{198,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53385-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,196}</string>
                <key>spriteSourceSize</key>
                <string>{185,196}</string>
                <key>textureRect</key>
                <string>{{0,732},{185,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53385-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,195}</string>
                <key>spriteSourceSize</key>
                <string>{203,195}</string>
                <key>textureRect</key>
                <string>{{805,537},{203,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53385-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,193}</string>
                <key>spriteSourceSize</key>
                <string>{213,193}</string>
                <key>textureRect</key>
                <string>{{196,537},{213,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53386-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,199}</string>
                <key>spriteSourceSize</key>
                <string>{152,199}</string>
                <key>textureRect</key>
                <string>{{185,732},{152,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53386-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,199}</string>
                <key>spriteSourceSize</key>
                <string>{140,199}</string>
                <key>textureRect</key>
                <string>{{793,732},{140,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53386-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,202}</string>
                <key>spriteSourceSize</key>
                <string>{151,202}</string>
                <key>textureRect</key>
                <string>{{161,931},{151,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53386-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,201}</string>
                <key>spriteSourceSize</key>
                <string>{161,201}</string>
                <key>textureRect</key>
                <string>{{0,931},{161,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53386-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,202}</string>
                <key>spriteSourceSize</key>
                <string>{155,202}</string>
                <key>textureRect</key>
                <string>{{312,931},{155,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53386-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,199}</string>
                <key>spriteSourceSize</key>
                <string>{142,199}</string>
                <key>textureRect</key>
                <string>{{337,732},{142,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53386-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,199}</string>
                <key>spriteSourceSize</key>
                <string>{154,199}</string>
                <key>textureRect</key>
                <string>{{639,732},{154,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53386-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,199}</string>
                <key>spriteSourceSize</key>
                <string>{160,199}</string>
                <key>textureRect</key>
                <string>{{479,732},{160,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53387-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,183}</string>
                <key>spriteSourceSize</key>
                <string>{220,183}</string>
                <key>textureRect</key>
                <string>{{765,354},{220,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53388-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,192}</string>
                <key>spriteSourceSize</key>
                <string>{196,192}</string>
                <key>textureRect</key>
                <string>{{0,537},{196,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53388-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,132}</string>
                <key>spriteSourceSize</key>
                <string>{261,132}</string>
                <key>textureRect</key>
                <string>{{761,74},{261,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53388-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,133}</string>
                <key>spriteSourceSize</key>
                <string>{260,133}</string>
                <key>textureRect</key>
                <string>{{0,206},{260,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53388-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,130}</string>
                <key>spriteSourceSize</key>
                <string>{242,130}</string>
                <key>textureRect</key>
                <string>{{519,74},{242,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53388-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,135}</string>
                <key>spriteSourceSize</key>
                <string>{249,135}</string>
                <key>textureRect</key>
                <string>{{260,206},{249,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53388-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,87}</string>
                <key>spriteSourceSize</key>
                <string>{256,87}</string>
                <key>textureRect</key>
                <string>{{0,74},{256,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53388-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,97}</string>
                <key>spriteSourceSize</key>
                <string>{263,97}</string>
                <key>textureRect</key>
                <string>{{256,74},{263,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53388-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,74}</string>
                <key>spriteSourceSize</key>
                <string>{266,74}</string>
                <key>textureRect</key>
                <string>{{534,0},{266,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53388-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,54}</string>
                <key>spriteSourceSize</key>
                <string>{267,54}</string>
                <key>textureRect</key>
                <string>{{0,0},{267,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53389-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,54}</string>
                <key>spriteSourceSize</key>
                <string>{267,54}</string>
                <key>textureRect</key>
                <string>{{267,0},{267,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{195,354},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,214}</string>
                <key>spriteSourceSize</key>
                <string>{126,214}</string>
                <key>textureRect</key>
                <string>{{599,1141},{126,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,224}</string>
                <key>spriteSourceSize</key>
                <string>{149,224}</string>
                <key>textureRect</key>
                <string>{{0,1363},{149,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,203}</string>
                <key>spriteSourceSize</key>
                <string>{174,203}</string>
                <key>textureRect</key>
                <string>{{467,931},{174,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,172}</string>
                <key>spriteSourceSize</key>
                <string>{182,172}</string>
                <key>textureRect</key>
                <string>{{583,354},{182,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,210}</string>
                <key>spriteSourceSize</key>
                <string>{175,210}</string>
                <key>textureRect</key>
                <string>{{641,931},{175,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,214}</string>
                <key>spriteSourceSize</key>
                <string>{175,214}</string>
                <key>textureRect</key>
                <string>{{725,1141},{175,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,211}</string>
                <key>spriteSourceSize</key>
                <string>{161,211}</string>
                <key>textureRect</key>
                <string>{{295,1141},{161,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,210}</string>
                <key>spriteSourceSize</key>
                <string>{125,210}</string>
                <key>textureRect</key>
                <string>{{816,931},{125,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,211}</string>
                <key>spriteSourceSize</key>
                <string>{140,211}</string>
                <key>textureRect</key>
                <string>{{0,1141},{140,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,211}</string>
                <key>spriteSourceSize</key>
                <string>{155,211}</string>
                <key>textureRect</key>
                <string>{{140,1141},{155,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53390-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,212}</string>
                <key>spriteSourceSize</key>
                <string>{143,212}</string>
                <key>textureRect</key>
                <string>{{456,1141},{143,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53391-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,194}</string>
                <key>spriteSourceSize</key>
                <string>{198,194}</string>
                <key>textureRect</key>
                <string>{{607,537},{198,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53391-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,225}</string>
                <key>spriteSourceSize</key>
                <string>{156,225}</string>
                <key>textureRect</key>
                <string>{{149,1363},{156,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53391-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,238}</string>
                <key>spriteSourceSize</key>
                <string>{143,238}</string>
                <key>textureRect</key>
                <string>{{455,1363},{143,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53391-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,237}</string>
                <key>spriteSourceSize</key>
                <string>{150,237}</string>
                <key>textureRect</key>
                <string>{{305,1363},{150,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>53392-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,222}</string>
                <key>spriteSourceSize</key>
                <string>{112,222}</string>
                <key>textureRect</key>
                <string>{{900,1141},{112,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HX.png</string>
            <key>size</key>
            <string>{1022,1601}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eb0381072b0009f7d82fb002dee49f1:f3cf2607f8d76d1d611847cf8543cacc:53d36574b33d1d0452c925b55628024a$</string>
            <key>textureFileName</key>
            <string>HX.png</string>
        </dict>
    </dict>
</plist>
